* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
}

.box {
  height: 6rem;
  width: 50rem;
  background-color: lightblue;
  margin: 20px;
  position: relative;
}
p {
  position: absolute;
  color: sienna;
  font-size: 20px;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 1.5rem;
  left: 6rem;
}

button {
  background-color: grey;
  border: 0;
  font-size: 0.7rem;
  padding: 6px 9px;

  border-radius: 100px;
  position: absolute;
  top: 1.5rem;
  left: 48rem;
}

.box.active {
  height: 7rem;
  background-color: burlywood;
}
.box .ans {
  display: none;
}
.box.active .ans {
  display: block;
  font-size: 1.2rem;
  color: darkmagenta;
  position: absolute;
  top: 4.5rem;
  left: 2rem;
}
button:active {
  transform: scale(0.9);
}

