* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 237, 228);
}

.conatins {
  
  width: 200px;
  background-color: white;
  font-size: 10px;
  box-shadow: 2px 1px 1px black;
  
}
.img {
  background-image: url(pexels-designecologist-1779487.jpg);
  height: 20vh;
  background-position: center center;
  background-size: cover;
}
.head{
    margin-left: 30px;
}
.contents{
    border: 10px solid white;
}

.profile-img{
   background-image: url(depositphotos_10214337-stock-photo-yellow-lab-puppy-in-the.jpg);
   background-position: center center;
   background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.profile{
    display: flex;
    background-color: white;
    position: relative;
    margin-top: 8px;
}
.name{
    position: absolute;
    left: 40px;
    top:5px;
    color: grey;
}

.date{
    position: absolute;
    left: 40px;
    top:14px;
    color: gray;
}
